body {
  padding: 100px;
  /*background-color: #a1c3dc;*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

table[data-sortable].sortable-theme-bootstrap {
  background: #eeeeee;
}

table[data-sortable] th, table[data-sortable] td {
  text-align: center;
  padding: 10px;
}

.sign-in {
  background-image: url("http://localhost:5000/static/images/dna.jpg");
  background-position: center;
  background-size: 100% auto;
}

.sign-in-text {
  color: black;
  text-align: center;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.navbar-default {
  background-color: #3f51b5;
  border-color: #5262bc;
}
.navbar-default .navbar-brand {
  color: #f9ffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #f9ffff;
}
.navbar-default .navbar-text {
  color: #f9ffff;
}
.navbar-default .navbar-nav > li > a {
  color: #f9ffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #f9ffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #f9ffff;
  background-color: #5262bc;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #f9ffff;
  background-color: #5262bc;
}
.navbar-default .navbar-toggle {
  border-color: #5262bc;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #5262bc;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f9ffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f9ffff;
}
.navbar-default .navbar-link {
  color: #f9ffff;
}
.navbar-default .navbar-link:hover {
  color: #f9ffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f9ffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f9ffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f9ffff;
    background-color: #5262bc;
  }
}
