<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <h4 class="modal-title">Edit Items</h4>
    </div>
    <div class="modal-body">
      <form action="{{ url_for('editTypeLot', dbtype=dbtype, item_id=item_id)}}" method="post">
        <div class="form-group">
          <label for="name">Manufactured Date</label>
          <input type="date" class="form-control" name="date" value="{{editedItem.date}}" required>
        </div>
        {% for column in columns %}
        {% if column.name=='aggregate' %}
        <div class="form-group">
          <label for="name">Aggregate (%)</label>
          <input type="number" step="0.01" class="form-control" name="aggregate" value="{{editedItem.aggregate}}" required>
        </div>
        {% elif column.name=='endotoxin' %}
        <div class="form-group">
          <label for="name">Endotoxin (EU/mg)</label>
          <input type="number" step="0.01" class="form-control" name="endotoxin" value="{{editedItem.endotoxin}}" required>
        </div>
        {% elif column.name=='purity' %}
        <div class="form-group">
          <label for="name">Purity (%)</label>
          <input type="number" step="0.01" class="form-control" name="purity" value="{{editedItem.purity}}" required>
        </div>
        {% elif column.name=='antibodylot_id' %}
        <div class="form-group">
          <label for="name">Antibody Lot</label>
          <input type="number" class="form-control" name="antibodylot_id" min="1" max="{{maxablot}}" value="{{editedItem.antibodylot_id}}" required>
        </div>
        {% elif column.name=='cytotoxinlot_id' %}
        <div class="form-group">
          <label for="name">Cytotoxin Lot</label>
          <input type="number" class="form-control" name="cytotoxinlot_id" min="1" max="{{maxtoxinlot}}" value="{{editedItem.cytotoxinlot_id}}" required>
        </div>
        {% else %}
        {% endif %}
        {% endfor %}
        <div class="form-group">
          <label for="name">Concentration (mg/mL)</label>
          <input type="number" step="0.01" class="form-control" name="concentration" value="{{editedItem.concentration}}" required>
        </div>
        <div class="form-group">
          <label for="name">Available Vials</label>
          <input type="number" class="form-control" name="vialNumber" value="{{editedItem.vialNumber}}" required>
        </div>
        <div>
          <label for="name">Vial Volume</label>
        </div>
        <div>
          {% for volume in [0.2, 0.5, 1.0] %}
          {% if volume == editedItem.vialVolume %}
          <label class="radio-inline">
            <input type="radio" name="vialVolume" value={{volume}} checked required> {{volume}} mL
          </label>
          {% else %}
          <label class="radio-inline">
            <input type="radio" name="vialVolume" value={{volume}} required> {{volume}} mL
          </label>
          {% endif %}
          {% endfor %}
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </body>
</html>
