/*.jumbotron {
  /*margin-bottom: 100%;*/
  /*padding-top: 50px;
  overflow:visible;
}*/

/*.container {
  overflow: visible;
}*/

body {
  padding: 100px;
}

table td {
  text-align: center;
}

table th {
  text-align: center;
}
