{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Antibody-Drug Conjugate</h1>
    <p>Antibody-drug conjugates or ADCs are a new class of highly potent biopharmaceutical drugs designed as a targeted therapy for the treatment of people with cancer. ADCs are complex molecules composed of an antibody (a whole mAb or an antibody fragment such as a single-chain variable fragment [scFv]) linked, via a stable, chemical, linker with labile bonds, to a biological active cytotoxic (anticancer) payload or drug. Antibody Drug Conjugates are examples of bioconjugates and immunoconjugates.</p>
    <p>By combining the unique targeting capabilities of monoclonal antibodies with the cancer-killing ability of cytotoxic drugs, antibody-drug conjugates allow sensitive discrimination between healthy and diseased tissue. This means that, in contrast to traditional chemotherapeutic agents, antibody-drug conjugates target and attack the cancer cell so that healthy cells are less severely affected.</p>
    <ul class="catalog-list">
      <h3><li><a href="#list1">list 1</a></li></h3>
      <h3><li><a href="#list2">list 2</a></li></h3>
      <h3><li>list 3</li></h3>
    </ul>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <h1><a name="list1">list 1</a></h1>
    <p>
      Cell surface heparan sulfate proteoglycans are composed of a membrane-associated protein core substituted with a variable number of heparan sulfate chains. Members of the glypican-related integral membrane proteoglycan family (GRIPS) contain a core protein anchored to the cytoplasmic membrane via a glycosyl phosphatidylinositol linkage. These proteins may play a role in the control of cell division and growth regulation
    </p>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <h1><a name="list2">list 2</a></h1>
    <p>
      Cell surface heparan sulfate proteoglycans are composed of a membrane-associated protein core substituted with a variable number of heparan sulfate chains. Members of the glypican-related integral membrane proteoglycan family (GRIPS) contain a core protein anchored to the cytoplasmic membrane via a glycosyl phosphatidylinositol linkage. These proteins may play a role in the control of cell division and growth regulation
    </p>
    <button type="button" data-toggle="modal" href="edit" data-target="#modal">Edit</button>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Launch demo modal</button>
    <a href="delete.html">Delete</a>
  </div>
</div>
{% block footer %}
{{super()}}
{% endblock %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <p id="result"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>$("#result").load("templates/edit.html #testing")</script>
{% endblock %}
