{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <h1>Antibody-Drug Conjugate</h1>
    <p>Antibody-drug conjugates or ADCs are a new class of highly potent biopharmaceutical drugs designed as a targeted therapy for the treatment of people with cancer. ADCs are complex molecules composed of an antibody (a whole mAb or an antibody fragment such as a single-chain variable fragment [scFv]) linked, via a stable, chemical, linker with labile bonds, to a biological active cytotoxic (anticancer) payload or drug. Antibody Drug Conjugates are examples of bioconjugates and immunoconjugates.</p>
    <p>By combining the unique targeting capabilities of monoclonal antibodies with the cancer-killing ability of cytotoxic drugs, antibody-drug conjugates allow sensitive discrimination between healthy and diseased tissue. This means that, in contrast to traditional chemotherapeutic agents, antibody-drug conjugates target and attack the cancer cell so that healthy cells are less severely affected.</p>
    {% for adc in adcs %}
    <ul>
      <h3><li><a href="#{{adc.name}}">{{adc.name}}</a></li></h3>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#imgADC{{ adc.id }}" href="{{ url_for('get_picture_url',item_id=adc.id, dbtype='adc') }}">Molecular Structure</button>
      {% if userID==adc.user_id %}
      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editADC{{ adc.id }}" href="{{url_for('editType', dbtype='adc', item_id=adc.id)}}">Edit</button>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteADC{{ adc.id }}">Delete</button>
      {% else %}
      {% endif %}
    </ul>
    {% endfor %}
    {% if username %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-adc" href="{{url_for('createType',dbtype='adc')}}">Add New ADC</button>
    {% else %}
    {% endif %}
  </div>
</div>
{% for adc in adcs %}
<div class="container">
  <div class="jumbotron">
    <h3><a style="padding-top: 50px; margin-top: -50px;" name="{{adc.name}}">{{adc.name}}</a></h3>
    <div class="container table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Manufactured Date</th>
            <th>Lot Number</th>
            <th>Antibody Lot</th>
            <th>Cytotoxin Lot</th>
            <th>Aggregate (%)</th>
            <th>Endotoxin (EU/mg)</th>
            <th>Concentration (mg/mL)</th>
            <th>Vial Volume (mL)</th>
            <th>Available Vials</th>
            {% if username %}
            <th>Edit</th>
            <th>Delete</th>
            {% else %}
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for lot in lotdict[adc.id] %}
          <tr>
            <td>{{lot.date}}</td>
            <td>{{lot.id}}</td>
            <td>{{lot.antibodylot_id}}</td>
            <td>{{lot.cytotoxinlot_id}}</td>
            <td>{{lot.aggregate}}</td>
            <td>{{lot.endotoxin}}</td>
            <td>{{lot.concentration}}</td>
            <td>{{lot.vialVolume}}</td>
            <td>{{lot.vialNumber}}</td>
            {% if userID==lot.user_id %}
            <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#edit{{ lot.id }}" href="{{url_for('editTypeLot', dbtype='adc', item_id=lot.id)}}">Edit</button></td>
            <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteLot{{ lot.id }}">Delete</button></td>
            {% else %}
            {% endif %}
          </tr>
          {% endfor %}
          </tr>
        </tbody>
      </table>
    {% if username %}
    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-lot{{adc.id}}" href="{{url_for('createTypeLot', dbtype='adc', item_id=adc.id)}}">Create New Lot</button></td>
    {% else %}
    {% endif %}
    </div>
  </div>
</div>
{% endfor %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- Modal to create new ADC type -->
<div class="modal fade" id="create-adc" tabindex="-1" role="dialog" aria-labelledby="createLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
{% for adc in adcs %}
<!-- Modal to open ADC images -->
<div class="modal fade" id="imgADC{{ adc.id }}" tabindex="-1" role="dialog" aria-labelledby="showImg">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<!-- Modal to edit ADC type -->
<div class="modal fade" id="editADC{{ adc.id }}" tabindex="-1" role="dialog" aria-labelledby="editLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<!-- Modal to delete ADC type -->
<div class="modal fade" id="deleteADC{{ adc.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteLabel">Delete ADC</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete <strong>{{adc.name}}</strong>?</p>
      </div>
      <div class="modal-footer">
        <form action="{{url_for('delete', dbtype='adc', item_id=adc.id)}}" method="post">
          <button name="delete" value="Delete" type="submit" class="btn btn-danger">Confirm</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal to create new ADC Lot -->
<div class="modal fade" id="create-lot{{adc.id}}" tabindex="-1" role="dialog" aria-labelledby="createLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
{% endfor %}
{% for lot in lots %}
<!-- Modal to edit ADC lot -->
<div class="modal fade" id="edit{{ lot.id }}" tabindex="-1" role="dialog" aria-labelledby="editLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<!-- Modal to delete ADC Lot -->
<div class="modal fade" id="deleteLot{{ lot.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteLabel">Delete Items</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete <strong>lot number {{lot.id}}</strong>?</p>
      </div>
      <div class="modal-footer">
        <form action="{{url_for('delete', dbtype='adcLot', item_id=lot.id)}}" method="post">
          <button name="delete" value="Delete" type="submit" class="btn btn-danger">Confirm</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
