{% from "macros.html" import nav_link with context %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="112174231466-2eq62a94fmpg5hde3t1pat8e4bo4k9u4.apps.googleusercontent.com">
    <title>Biologics Catalog - {% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home">Biologics Catalog</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {{ nav_link('home', 'Home') }}
            {{ nav_link('antibody', 'Antibody') }}
            {{ nav_link('cytotoxin', 'Cytotoxin') }}
            {{ nav_link('adc', 'Antibody-Drug Conjugate') }}
          </ul>
          <div>
            {% if username %}
            <button type="button" class="btn btn-default navbar-btn navbar-right" href="/gdisconnect" data-toggle="modal" data-target="#sign-in">Sign Out</button>
            <p class="navbar-text navbar-right" style="padding-right:20px">Signed in as <strong>{{username}}</strong></p>
            {% else %}
            <button type="button" class="btn btn-default navbar-btn" href="/login" data-toggle="modal" data-target="#sign-in" style="float:right">Sign In</button>
            {% endif %}
          </div>
          <!-- <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form> -->
        </div>
      </div>
    </nav>
    <div class="modal fade" id="sign-in">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
