<!DOCTYPE html>
<html lang="en">
  <body>
    <form action="{{ url_for('editAb', item_id=item_id)}}" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Antibody Name</label>
        <input type="text" class="form-control" name="name" value="{{editedItem.name}}">
      </div>
      <div class="form-group">
        <label for="weight">Molecular Weight</label>
        <input type="number" step="0.00001" class="form-control" name="weight" value="{{editedItem.weight}}">
      </div>
      <div class="form-group">
        <label for="target">Target</label>
        <input type="text" class="form-control" name="target" value="{{editedItem.target}}">
      </div>
      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" name="picture">
        <p class="help-block">Supported file types: bmp, gif, jpg, jpeg, png</p>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </body>
</html>
