{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <h1>Welcome to Biologics Catalog!</h1>
    <p>This website serves as a catalog for antibody, cytotoxin, and ADC lots that are available for request. If you're a registered user, you will also be able to create and maintain lots that you owned</p>
    <p>To begin, navigate via the buttons above. If you would like to create or maintain your lots, click "Sign In" at the top right hand corner - you will need a Google or Facebook account to proceed.</p>
  </div>
</div>
</nav>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
{% endblock %}
